{% extends "base1.html" %}

{% block title %} REMITTANCE {% endblock %}

{% block content %}


    <div>
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url "dashboard" %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Cash In</li>
        <li class="breadcrumb-item active">Today's Remittance</li>
      </ol>

      <!-- Remittance Data Entries -->
      <div class="row">
      <div class="col-lg-8">

      <div class="card mb-3">
            <div class="card-header">Enter Today's Remittance Here</div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-8 my-auto">
                    <form>
                    <div class="form-group">
                    <div class="form-row">
                     <div class="col-md-6">
                     <label for="exampleInputName">USD Amount</label>
                     <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter USD Amount">
                    </div>
                    <div class="col-md-6">
                    <label for="exampleInputLastName">DJF Amount</label>
                    <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter DJF Amount">
                </div>
            </div>
            </div>
                <a class="btn btn-primary btn-block" href="login.html">Submit</a>
                    </form>
                </div>
              </div>
            </div>
      </div>

      </div>

   <!-- The left part -->
    <div class="col-lg-4">
          <div class="card mb-3">
            <div class="card-header">Pie Chart Example</div>
            <div class="card-body">

            </div>
          </div>
    </div>
  </div>
    <!-- Remittance Data Entries END -->



    </div>

{% endblock %}